@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* body{
background-image: url("https://st2.depositphotos.com/1757635/8830/i/950/depositphotos_88302772-stock-photo-global-business-strategy.jpg");
} */

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  outline-color: #a5b4fc;
}

#container{
  position: inherit;
  width: 725px;
  padding: 32px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 2px 4px 8px #6b728040;
  text-align: center;
}
body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: #e2e8f0;
}

p {
  font-size: 14px;
  color: #6b7280;
}


.signup-form2{
  width: 480px;
  padding: 32px;
  border-radius: 8px;
  background-color: transparent;
  box-shadow: 2px -1px 8px -1px #0d0e0e40;
  text-align: center;
}
.signup-form1 {
  width: 480px;
  padding: 32px;
  border-radius: 8px;
  background-color: transparent;
  box-shadow: 2px -1px 8px -1px #4b4d4d40;
  text-align: center;
}

.header {
  margin-bottom: 48px;
}

.header h1 {
  font-weight: bolder;
  font-size: 28px;
  color: #6366f1;
}

.input {
  position: relative;
  margin-bottom: 24px;
}

.input input {
  width: 100%;
  border: none;
  padding: 8px 40px;
  border-radius: 4px;
  background-color: #f3f4f6;
  color: #1f2937;
  font-size: 16px;
}

.input input::placeholder {
  color: #6b7280;
}
.page{
 margin-left: 39%;
 margin-top: 2%;
}
.input i {
  top: 50%;
  width: 36px;
  position: absolute;
  transform: translateY(-50%);
  color: #6b7280;
  font-size: 16px;
}

.signup-btn {
  width: 100%;
  border: none;
  padding: 8px 0;
  margin: 24px 0;
  border-radius: 4px;
  background-color: #6366f1;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: #e2e8f0;
  /* background-image: url("https://img.freepik.com/free-photo/social-network-connection-avatar-icon-vector_53876-121369.jpg?w=826&t=st=1685683917~exp=1685684517~hmac=dee12f51b0fa27eaa2172c9d890d08fcd2afaf9a1b9c60d49739577402a82062"); */
  background-size: cover;
}
h1.title{
  color:white;
}
.cred{
  color:rgb(201, 198, 198);
}
.no-acc{
  color: rgb(206, 202, 202);
  cursor: pointer;
}
#already-acc{
  cursor: pointer;
  color: rgb(19, 19, 19);
  
}
#ryzoo-title{
  color: #411363;
}

